@model Registration
@{
    ViewData["Title"] = "Registration";
}

@using (Html.BeginForm("ALogin", "Home", FormMethod.Post, new {id="formRegistration"}))  
{  

<h1>Login form</h1>
<div class="form-group">  
   <label for="lastname" class="col-md-3 control-label">Email</label>  
<div class="col-md-9">  
   @Html.TextBoxFor(x => x.Email, "", new { @class = "form-control", placeholder = "Email" })  
    @Html.ValidationMessageFor(x => x.Email, "Please enter Email", new { @class = "text-danger", style = "display:none" })   
   @Html.ValidationMessageFor(x => x.Email)
   </div>  
</div>  
<br />  
<div class="form-group">  
   <label for="password" class="col-md-3 control-label">Password</label>  
<div class="col-md-9">  
   @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })  
   @* @Html.ValidationMessageFor(x => x.Password, "Please enter Password", new { @class = "text-danger", style ="display:none" })   *@
    @Html.ValidationMessageFor(x => x.Password)
</div>  
</div>  
<br />  

<div class="form-group">  
   <span id="spnMessage" class="text-danger">@TempData["Message"]</span>  
   <br />  
<!-- Button -->  
<div class="col-md-offset-3 col-md-9">  
   <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Login </button>  
   <span style="margin-left:8px;"></span>  
</div>  
</div>  
}  

   
